* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #EDF2F5;
}

header {
  background: url(../images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg) rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 3em;
}

.menu {
  background: none;
  border: none;
  outline: none;
}

.menu-search {
  padding: .5em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5em;
}

.profile-details-wrappper {
  display: flex;
}

.notif {
  width: 20%;
}

.pattern {
  padding: 1em;
  background-color: #FCCE00;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  display: flex;
  height: 20px;
  align-items: center;
}

.pattern img {
  margin-right: .5em;
}

.pattern p {
  font-size: 16px;
}

.details {
  padding-left: .8em;
  width: 90%;
}

.details p {
  color: #FCCE00;
  font-size: 12px;
  font-weight: 400;
}

.details h1 {
  font-weight: 300;
  font-size: 36px;
  color: white;
}

main {
  padding-bottom: 5em;
}

.add-verify {
  background-color: #F2695A;
  padding: 1.5em 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-verify p {
  font-size: 10px;
  color: white;
}

.add-verify img {
  margin-right: 1.8em;
}

.main-heading {
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1px;
  color: #5C707D;
  text-transform: uppercase;
}

.categories-section {
  padding: 2em 0;
}

.btn-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  margin-bottom: 1em;
}

.viewall-btn {
  background-color: #5C707D;
  color: white;
  font-size: 9px;
  font-weight: 400;
  border: none;
  padding: .6em 1em;
  border-radius: 1.5em;
  outline: none;
}

.cats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
  padding-left: 8%;
  padding-right: 8%;
}

.cats .cat-card {
  margin-right: 0;
  min-width: auto;
}

.cats .cat-card:hover {
  background-color: #FCCE00;
}

.cat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  margin-right: 1.25em;
}

.cat-card p {
  font-size: 7px;
  font-weight: 400;
  text-align: center;
  color: #5C707D;
  padding-top: .8em;
}

.cat-card span {
  display: block;
  font-size: 7px;
  color: #39B5E3;
  padding-top: .25em;
}

.createpr-container {
  padding: 0 8%;
}

.create-form {
  margin-top: 1.5em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: white;
  padding: 1.5em 10%;
  padding-bottom: 5em;
}

.create-form textarea {
  resize: none;
  border: none;
  outline: none;
  font-size: 10px;
  width: 100%;
}

.create-form input {
  font-size: 12px;
  border: none;
  outline: none;
  width: 100%;
}

.create-form input[type=date] {
  color: #F2695A;
  background-color: white;
}

.bid-proposal,
.proposal-rate,
.deliver-in,
.completion-date,
.payment,
.portfolio-link,
.attachments,
.project-cost {
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid #9B9B9B;
}

.bid-proposal p,
.proposal-rate p,
.deliver-in p,
.completion-date p,
.payment p,
.portfolio-link p,
.attachments p,
.project-cost p {
  font-size: 12px;
  font-weight: 300;
  color: #4A4A4A;
}

.project-cost div {
  display: flex;
  margin: .25em 0;
}

.bid-proposal p {
  font-size: 12px;
  font-weight: 400;
  color: #5C707D;
}

.bid-proposal p:first-of-type {
  color: #E0B700;
  margin-bottom: .8em;
}

.completion-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completion-date p {
  font-size: 10px;
  font-weight: 300;
  color: #4A4A4A;
}

.completion-date p:nth-of-type(2) {
  color: #F2695A;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: .6em;
}

.proposal-rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proposal-rate div {
  display: flex;
  justify-content: space-between;
}

.proposal-rate input::-webkit-outer-spin-button,
.proposal-rate input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.proposal-rate p {
  font-size: 9px;
}

.proposal-rate span {
  font-size: 10px;
}

.deliver-in,
.payment,
.attachments {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  -webkit-appearance: none;
  background-color: white;
  background-image: url(../images/TriangleCopy.svg);
  background-repeat: no-repeat;
  background-position: center right;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: 300;
  color: #4A4A4A;
  padding-right: 2em;
}

.attachments {
  grid-column: 1/3;
}

.attachments button {
  background-color: #CBF0F0;
  color: #4A4A4A;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  border: none;
  border-radius: 2em;
  outline: none;
  padding: .6em 1.5em;
  cursor: pointer;
}

#placebid-final {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #4A4A4A;
  background-color: #FCCE00;
  border: none;
  outline: none;
  padding: 12px 2em;
  border-radius: 2em;
  margin: 0 auto;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}

#cancelbtn {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #4A4A4A;
  border: none;
  outline: none;
  padding: 12px 2em;
  border-radius: 2em;
  margin: 0 auto;
  background: none;
}
